$color-white: #FFFFFF;
$color-light: #FAFAFA;
$color-grey: #888888;
$color-brown: #B18D5B;
$color-black: #000000;

$theme-colors: (
    "white": $color-white,
    "light": $color-light,
    "grey": $color-grey,
    "brown": $color-brown,
    "black": $color-black,
);

